<a href="https://colab.research.google.com/github/AngelLeal2001/Python2024/blob/main/AILJ_PYT_ACT4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ACTIVIDAD 4
Angel Ignacio Leal Juarez

26 de Febrero del 2024

Git Hub: https://github.com/AngelLeal2001/Python2024.git

In [ ]:
import random

## 1.-leer 3 calificaciones calcule el promedio del alumno y desplegar mensaje de acuerdo a su promedio

In [ ]:
try:
    cal1 = int(input("Calificacion 1: "))
    if (cal1 < 0):
        raise (ValueError)

    cal2 = int(input("Calificacion 2: "))
    if (cal2 < 0):
        raise (ValueError)

    cal3 = int(input("Calificacion 3: "))
    if (cal3 < 0):
        raise (ValueError)

except ValueError:
    print("ERROR, debe de ser un numero mayor a 0")

else:
    prom = (cal1 + cal2 + cal3) / 3


    print(f"Promedio: {prom}")

    if (prom >= 80):
        if (prom >= 95):
            if (prom >= 100):
                print("EROR")
            else:
                print("EXCELENTE")
        else:
            if (prom >= 90):
                print("MUY 234BIEN")
            else:
                print("BIEN")

    else:
        if (prom >= 60):
            if (prom >= 70):
                print("REGULAR")
            else:
                print("SUFICIENTE")
        else:
            if (prom >= 30):
                print("EXTRAORDINARIO")
            else:
                print("REPETIR")

Calificacion 1: a
ERROR, debe de ser un numero mayor a 0

##2.- calcular el salario semanal de un trabajador donde se obtiene como dato de entrada las horas semanales trabajadas, el salario por hora.

El programa deber치 calcular el salario normal, salario extra y salario total

In [ ]:
try:
    horas = int(input("Horas trabajadas semanalmente: "))
    if horas < 0:
        raise (TypeError)

    salhora = int(input("Salario por hora: "))
    if salhora < 0:
        raise (TypeError)

    saln = salhora * horas

except ValueError:
    print("\nError: tiene que ser un numero")
except TypeError:
    print("\nError: tiene que ser entero")
except:
    print("Error")

else:
    if horas > 49:
        salex = ((salhora * 9) * 2) + ((salhora * (horas - 49)) * 3)
        salt = saln + salex
        print(f"\nsalario por hora: {salhora}")
        print(f"horas trabajadas: {horas}")
        print(f"Salario normal: {saln}")
        print(f"salario extra: {salex}")
        print(f"salario total: {salt}")

    elif horas > 40:
        salex = (salhora * (horas - 40) * 2)
        salt = saln + salex
        print(f"\nsalario por hora: {salhora}")
        print(f"horas trabajadas: {horas}")
        print(f"Salario normal: {saln}")
        print(f"salario extra: {salex}")
        print(f"salario total: {salt}")

    else:
        salt = saln
        print(f"\nsalario por hora: {salhora}")
        print(f"horas trabajadas: {horas}")
        print(f"Salario normal: {saln}")
        print("Salario extra: 0")
        print(f"salario total: {salt}")

Horas trabajadas semanalmente: 41
Salario por hora: 50

salario por hora: 50
horas trabajadas: 41
Salario normal: 2050
salario extra: 100
salario total: 2150

##3.- calcular el Total a pagar por consumo de agua, donde el dato de entrada son los M3 de agua consumidos, Tomar en cuenta que se cobra escalonada

In [ ]:
try:
    m3 = int(input("Metros cubicos de agua consumidos: "))

    if m3 < 0:
        raise (TypeError)

except ValueError:
    print("\nError: tiene que ser un numero")

except TypeError:
    print("\nError: tiene que ser entero")

else:

    if m3 <= 4:
        iva = 50 * .16
        total = 50 + iva
        print("\nSubtotal: $50")
        print(f"\nIVA: ${iva}")
        print(f"\nTOTAL: ${total}")
    elif m3 <= 15:
        subtotal = 50 + ((m3 - 4) * 8)
        iva = subtotal * .16
        total = subtotal + iva
        print(f"\nSubtotal: ${subtotal}")
        print(f"\nIVA: ${iva}")
        print(f"\nTOTAL: ${total}")
    elif m3 <= 50:
        subtotal = 50 + 88 + ((m3 - 15) * 10)
        iva = subtotal * .16
        total = subtotal + iva
        print(f"\nSubtotal: ${subtotal}")
        print(f"\nIVA: ${iva}")
        print(f"\nTOTAL: ${total}")
    elif m3 > 50:
        subtotal = 50 + 88 + 250 + ((m3 - 50) * 11)
        iva = subtotal * .16
        total = subtotal + iva
        print(f"\nSubtotal: ${subtotal}")
        print(f"\nIVA: ${iva}")
        print(f"\nTOTAL: ${total}")

Metros cubicos de agua consumidos: 17

Subtotal: $158

IVA: $25.28

TOTAL: $183.28

##4.- calcular el promedio final de la materia donde la calificaci칩n menor de los ex치menes se anula y el promedio se calcula en base a 4 ex치menes. Desplegar el promedio final. y cual es la mas baja que se elimino

In [ ]:
try:
    cal1 = int(input("Calificacion del examen 1: "))
    if cal1 < 0:
        raise (TypeError)

    cal2 = int(input("Calificacion del examen 2: "))
    if cal2 < 0:
        raise (TypeError)

    cal3 = int(input("Calificacion del examen 3: "))
    if cal3 < 0:
        raise (TypeError)

    cal4 = int(input("Calificacion del examen 4: "))
    if cal4 < 0:
        raise (TypeError)

    cal5 = int(input("Calificacion del examen 5: "))
    if cal5 < 0:
        raise (TypeError)

except TypeError:
    print("\nERROR: El numero tiene que ser entero")

except ValueError:
    print("\nERROR: Tiene que ser un numero")

else:
    menor = 100

    if cal1 < menor:
        menor = cal1

    if cal2 < menor:
        menor = cal2

    if cal3 < menor:
        menor = cal3

    if cal4 < menor:
        menor = cal4

    if cal5 < menor:
        menor = cal5

    print("\nla calificacion menor que se elimino es :", menor)
    prom = (cal1 + cal2 + cal3 + cal4 + cal5 - menor) / 4
    print("\nEl promedio de los examenes es de: ", prom)

Calificacion del examen 1: 71
Calificacion del examen 2: 68
Calificacion del examen 3: 84
Calificacion del examen 4: 77
Calificacion del examen 5: 80

la calificacion menor que se elimino es : 68

El promedio de los examenes es de:  78.0

##5.- Programa que sirva para jugar CHINCHANPU ("Piedra, papel o tijeras) para 1 jugador y la computadora

In [ ]:
print("1.- Piedra")
print("2.- Papel")
print("3.- Tijeras")
try:
    opcion = int(input("Eliga una opcion: "))
    if opcion < 0 or opcion > 3:
        raise(TypeError)

except TypeError:
    print("\nERROR: tiene que ser un numero entre el 1 y 3")

except ValueError:
    print("\nERROR: Tiene que ser un numero")

else:

    jug2 = random.randint(1, 3)

    if opcion == 1:
        if jug2 == 1:
            print("\nEMPATE")
            print("Los 2 eligieron piedra")
        else:
            if jug2 == 2:
                print("\nPERDISTE")
                print("Papel gana a Piedra")
            else:
                if jug2 == 3:
                    print("\nGANASTE")
                    print("Piedra gana a Tijeras")

    if opcion == 2:
        if jug2 == 1:
            print("\nGANASTE")
            print("Papel gana a piedra")
        else:
            if jug2 == 2:
                print("\nEMPATE")
                print("Los 2 eligieron papel")
            else:
                if jug2 == 3:
                    print("\nPERDISTE")
                    print("Tijeras gana a papel")

    if opcion == 3:
        if jug2 == 1:
            print("\nPERDISTE")
            print("Piedra gana a tijeras")
        else:
            if jug2 == 2:
                print("\nGANASTE")
                print("Tijeras gana a papel")
            else:
                if jug2 == 3:
                    print("\nEMPATE")
                    print("Los 2 eligieron tijeras")

1.- Piedra
2.- Papel
3.- Tijeras
Eliga una opcion: 2

GANASTE
Papel gana a piedra

##6.- leer 4 n칰meros enteros desplegar cuales el menor, cual es mayor

In [ ]:
try:

    num1 = int(input("Dame el primer numero: "))
    if num1 < 0:
        raise(TypeError)

    num2 = int(input("Dame el segundo numero: "))
    if num2 < 0:
        raise(TypeError)

    num3 = int(input("Dame el tercero numero: "))
    if num3 < 0:
        raise(TypeError)

    num4 = int(input("Dame el cuarto numero: "))
    if num4 < 0:
        raise(TypeError)

except TypeError:
    print("\nERROR: tiene que ser real")

except ValueError:
    print("\nERROR: Tiene que ser un numero entero")

else:

    def nmayor():

        mayor = num1

        if num2 > mayor:
            mayor = num2

        if num3 > mayor:
            mayor = num3

        if num4 > mayor:
            mayor = num4

        print("\nNumero mayor : ",mayor)

    def nmenor():

        menor = num1

        if num2 < menor:
            menor = num2

        if num3 < menor:
            menor = num3

        if num4 < menor:
            menor = num4

        print("\nNumero menor : ",menor)

    nmayor()

    nmenor()

Dame el primer numero: 2
Dame el segundo numero: 4
Dame el tercero numero: 6
Dame el cuarto numero: 8

Numero mayor :  8

Numero menor :  2

##7.- calcular el 치rea de un triangulo, los datos de entrada deben ser forzosamente de tipo real

In [ ]:
try:
    base = float(input("Dame el valor de la base (numero real) : "))
    if base<=0:
        raise (ValueError)

    altura = float(input("Dame el valor de la altura (numero real) : "))
    if base<=0:
        raise (ValueError)

except ValueError:
    print("\nERROR: tiene que ser un numero real")

else:
    area = (base * altura) / 2

    print("\nEl area del triangulo es de : ", area)

Dame el valor de la base (numero real) : 7.1
Dame el valor de la altura (numero real) : 2.78

El area del triangulo es de :  9.868999999999998

##8.- calcular el 치rea de un circulo

In [ ]:
try:
    radio = float(input("Dame el radio del circulo : "))
    if radio < 0:
        raise (ValueError)

except:
    print("\nERROR: tiene que ser numero positivo")

else:
    area = 3.1416 * (radio * radio)

    print("\nEl area del circulo es : ", area)

Dame el radio del circulo : 2

El area del circulo es :  12.5664